*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Prevents padding from breaking layout widths */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas:
    "header"
    "menu"
    "banner"
    "banner2"
    "banner3"
    "footer";
  background-color: white;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  /* Aturan CSS untuk HP */
  .page-wrapper {
    margin: 50px;
  }
  .banner {
    background-color: rgb(255, 168, 6);
    .banner-container {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column; /* Susun elemen secara vertikal */
    align-items: center; /* Pusatkan elemen secara horizontal */
    gap: 10px;
  }
  .profile-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    /* Pusatkan teks */
  }

  .social-links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: var(--abu); */
    .social-icon {
      width: 40px;
      height: 40px;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .carousel-section {
    width: 200px;
    height: 200px;
  }
  .tabs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: var(--abu); */
    justify-content: start;
    button {
      padding: 10px;
      color: var(--text);
      background-color: var(--primary);
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  /* .profile-image {
  background-color: var(--abu);
  width: 200px;
  height: 200px;
  clip-path: circle(50%);
} */
  .profile-image {
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -115px 30px;
      scale: 2.5;
    }
  }

  .name {
    font-size: 2em;
    font-family: poppins;
    color: var(--hitam);
  }
  .title {
    font-size: 1.2em;
    font-family: poppins;
    color: var(--hitam);
  }
  .tagline {
    font-size: 1em;
    font-family: poppins;
    color: var(--hitam);
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .header {
    grid-area: 1 / 1 / 2 / 7;
  }
  .menu {
    grid-area: 1 / 7 / 2 / 13;
  }
  .banner {
    grid-area: 2 / 1 / 3 / 13;
  }
  .banner2 {
    grid-area: 3 / 1 / 4 / 13;
  }
  .banner3 {
    grid-area: 4 / 1 / 5 / 13;
  }
  .footer {
    grid-area: 5 / 1 / 6 / 13;
  }
  /* Aturan CSS untuk Tablet */
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    grid-area: 1 / 1 / 2 / 7;
  }
  .menu {
    grid-area: 1 / 7 / 2 / 13;
  }
  .banner {
    grid-area: 2 / 1 / 3 / 13;
  }
  .banner2 {
    grid-area: 3 / 1 / 4 / 13;
  }
  .banner3 {
    grid-area: 4 / 1 / 5 / 13;
  }
  .footer {
    grid-area: 5 / 1 / 6 / 13;
  }
  /* Aturan CSS untuk Laptop */
}
@media screen and (min-width: 993px) {
  .header {
    grid-area: 1 / 1 / 2 / 7;
  }
  .menu {
    grid-area: 1 / 7 / 2 / 13;
  }
  .banner {
    grid-area: 2 / 1 / 3 / 13;
  }
  .banner2 {
    grid-area: 3 / 1 / 4 / 13;
  }
  .banner3 {
    grid-area: 4 / 1 / 5 / 13;
  }
  .footer {
    grid-area: 5 / 1 / 6 / 13;
  }
  /* Aturan CSS untuk Desktop */
}
.donation {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-areas: "saweria", "socialbuzz";

  .saweria {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #faae2b;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .socialbuzz {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #3eaaf5;

    text-decoration: none;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: inherit;
  }
}
